.card {
    height: 150px;
    width: 150px;
    margin: 30px;
    border-radius: 5px;
    background-color: #242526
}

.redCard {
    height: 150px;
    width: 150px;
    margin: 30px;
    border-radius: 5px;
    background-color: red;
}

.pokemonImg {
    width: 100%;
}