#addPokeSection {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#pokeTestImgsConteiner {
    width: 414px;
    min-width: 414px;
    margin: 30px 30px 30px 0;
    display: flex;
    justify-content: space-between;
}

#addPokeConteiner {
    height: 192px;
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#addInput {
    height: 60px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    
    font-size: 16px;
}

#addButton {
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #c30c7a;

    font-weight: 700;
    color: #e6e6e6;

    transition: filter 0.2s;
    cursor: pointer;
}


#testButton {
    height: 60px;
}

#addButton:hover {
    filter: brightness(0.8);
}