#pokeCardsConteiner {
    background-color: rgb(186, 68, 68);
    background-image: url('../../imgs/grassTile.png');
    background-repeat: repeat;
    margin: 30px;
    border-radius: 5px;
    min-height: 222px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
#searchMessageDiv {
    display: flex;
    flex-direction: column;
}
